body {
    font-family: Arial, sans-serif;
    background-color: #a4f4bd;
    margin: 10;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

h1 {
    text-align: center;
    color: #333;
}

#map {
    width: 50%;
    height: 500px;
    margin: 50px auto;
}

#filters {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}


#results {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #eeffe3;
    border: 10px solid #0e9e10;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 16px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  strong {
    color: #007bff; 
    font-weight: 700;
  }
  
  .rating {
    color: #f0ad4e; 
    font-weight: 700;
  }
  
  .no-results {
    font-size: 16px;
    color: #f00; 
  }
  
  #searchButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #searchButton:hover {
    background-color: #0056b3;
  }
  
  #savedResultsButton {
    background-color: #34db3f;
    color: #fff;
    padding: 10px 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

  #savedResultsButton:hover {
    background-color: #99f3b6;
}
